:root {
    --color-grid: #f6f6f6;
    --titule-text: 28pt;
    --parrafo-text: 16pt;
    --font-principal: "Archivo", sans-serif;
    --font-secundary: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    max-width: 1600px;
    overflow: hidden;
    display: flex;
    margin: auto;
}


.banner-hero{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.img-hero{
    width: 100%;
    border-radius: 0.75rem;
}

/* DESCRIPTION */

.description-container{
    width: 95%;
    height: 100%;
    background-color:var(--color-grid) ;
    margin-top: 30px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
}

.title-description{
    text-align: center;
    font-size: var(--titule-text);
    font-family: var(--font-principal);
    margin: 5px;
    padding: 5px;
}

.parrafo-description{
    text-align: center;
    font-size: var(--parrafo-text);
    font-family: var(--font-secundary);
   
}

/* PRODUCT */

.content-product{
    width: 95%;
    height: 400px;
    background: linear-gradient(180deg,#ffff 50%,#f5f5f5 50%); 
    margin-top: 20px;
}

.product-container{
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
}


.product-img {
    width: 30%; /* Ajustar el ancho de las imágenes */
    border-radius: 0.75rem;
    margin-right: 10px; /* Reducir el margen entre las imágenes */
}


.info-product{
    background: #f5f5f5;
    width: 95%;
    height: auto;
    padding-bottom: 60px;
}

.text-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title-product{
    font-size: var(--titule-text);
    font-family: var(--font-principal);
    padding: 10px;
    margin: 10px;
}

.parrafo-product{
    font-size: var(--parrafo-text);
    font-family: var(--font-secundary);
    padding: 10px;
    margin: 10px;
}

/* PROMOTION */
.container-promotion{
    display: flex;
    flex-direction: column;
}
.promotion-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.promotion-img{
    width: 49%;
    border-radius: 0.75rem;
    margin: 5px;
}


.titule-content{
    font-size: var(--titule-text);
    font-family: var(--font-principal);
    text-align: left;

}

.titule-promotion{
    margin-left: 10px;
 
}

/* TARGETAS PO */
.titule-content-cards {
    margin-left: 20px;
}

.titule-cards {
    font-size: var(--titule-text);
    font-family: var(--font-principal);
    margin-top: 20px;
    text-align: left;
}

.container-card {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.cards-content {
    overflow: hidden;
    width: 100%; /* Ajusta el ancho del contenedor del slider */
    margin: auto; /* Centra el contenedor del slider */
}

.cards-img {
    width: 24%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    border-radius: 0.75rem;
    margin: 5px; /* Espaciado entre las imágenes del slider */
}

.slider-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Propiedad para un desplazamiento suave en iOS */
}

/* Estilos para la barra de desplazamiento */
.slider-container::-webkit-scrollbar {
    height: 3px;
    background: #ededed; /* Color de fondo de la barra de desplazamiento */
}

/* Estilos para el pulgar (scroll thumb) de la barra de desplazamiento */
.slider-container::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #e41a64; /* Cambiar el color del pulgar de la barra de desplazamiento */
    border-radius: 4px; /* Ajustar el radio de borde del pulgar */
}

/* Estilos para el pulgar (scroll thumb) al pasar el mouse sobre la barra de desplazamiento */
.slider-container::-webkit-scrollbar-thumb:hover {
    background-color: #ff6699; /* Cambiar el color del pulgar al pasar el mouse */
}

/* FAQS */
.container-faqs{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 5px;
}

.titule-content-faqs{
   margin: 30px auto;
}

.titule-faqs{
    font-size: var(--titule-text);
    font-family: var(--font-secundary)
}

.faq-section {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.question {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    font-size: 12pt;
    font-family: var(--font-principal);
    color: #0072c2;
    font-weight: bold;
}

input[type="checkbox"] {
    display: none;
}

.answer {
    display: none;
    padding: 10px;
    border-top: none;
    font-size: 10pt;
    font-family: var(--font-secundary);
    color: #0072c2;
    font-weight: 500;
    background: #ffff;
}

input:checked + label + .answer {
    display: block;
}

label {
    display: block;
    padding: 10px;
    background-color: #ffff;
    cursor: pointer;
    position: relative;
    border-radius: 0.75rem;
}

.material-symbols-outlined {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #e30613;
}

input:checked + label .material-symbols-outlined {
    transform: rotate(180deg);
}


@media only screen and (max-width: 768px) {
    .description-container {
        margin: 10px;
    }

    .title-description {
        font-size: 14pt;
    }

    .parrafo-description {
        font-size: 10pt;
    }

    
    .content-product {
        background: none;
        margin-top: 0;
        height: 100%;
        width: 100%;
    }

    .product-container{
        display: flex;
        justify-content: flex-start; /* Alinear las imágenes al principio */
        overflow-x: auto; /* Permitir el desplazamiento horizontal en dispositivos con muchas imágenes */
        padding: 8px;
    }

    .info-product {
        display: none;
    }

    .product-img{
        width: 48%;
    }

    .titule-promotion, .titule-cards, .titule-faqs {
        font-size: 14pt;
    }

    .promotion-img{
        width: 45%;
    }

    .cards-img {
        width: 35%; /* Cambiar el ancho de las imágenes en dispositivos responsivos */
    }

    .slider-container {
        overflow-x: auto; /* Cambiar a overflow-x: auto para permitir el desplazamiento horizontal en dispositivos móviles */
        -webkit-overflow-scrolling: touch; /* Agregar -webkit-overflow-scrolling para un desplazamiento suave en iOS */
    }

    .question {
        width: 48%; /* Cambiar el ancho al 100% en dispositivos móviles */
    }

    label {
        font-size: 10pt;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    .material-symbols-outlined {
        width: 8%;
    }

}

@media only screen and (min-width: 769px) {
    /* Ocultar la barra de desplazamiento en dispositivos de escritorio */
    .slider-container {
        scrollbar-width: none; /* Ocultar la barra de desplazamiento en Firefox */
    }

    /* Ocultar la barra de desplazamiento en dispositivos de escritorio en Chrome y Safari */
    .slider-container::-webkit-scrollbar {
        width: 0;
    }
}

@media screen and (min-width: 360px) and (max-width: 390px) {
    label {
        font-size: 8pt;
        text-align: left;
        width: 93%;
    }
}

/*@media screen and (max-width: 540px) {
    label {
        padding: 20px;
        margin: 10px;

    }
}*/


