:root {
    --color-grid: #f5f5f5;
    --titule-text:28pt;
    --parrafo-text:16pt;
    --font-principal: "Archivo", sans-serif;
    --font-secundary:"Montserrat", sans-serif;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;
}

.banner-hero{
    width: 100%;
    height: auto;
    grid-column: 1/13;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.img-hero{
    width: 100%;
    border-radius: 0.75rem;
}

.description-container{
    width: 100%;
    grid-column: 2/12;
    background-color:var(--color-grid) ;
    border-radius: 0.75rem;
    margin-top: 30px;
    padding: 20px;
}

.title-description{
    text-align: center;
    font-size: var(--titule-text);
    font-family: var(--font-principal);
    margin: 5px;
    padding: 5px;
}

.parrafo-description{
    text-align: center;
    font-size: var(--parrafo-text);
    font-family: var(--font-secundary);
   
}

.content-product{
    height: 400px;
    background: linear-gradient(180deg,#ffff 50%,#f5f5f5 50%); 
    margin-top: 20px;
}

.product-container{
    grid-column: 2/12;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.product-img{
    width: 30%;
    border-radius: 0.75rem;
}

.info-product{
    background: #f5f5f5;
    height: auto;
    padding-bottom: 60px;
}

.text-info{
    grid-column: 2/12;
    text-align: center;
}

.title-product{
    font-size: var(--titule-text);
    font-family: var(--font-principal);
    padding: 10px;
    margin: 10px;
}

.parrafo-product{
    font-size: var(--parrafo-text);
    font-family: var(--font-secundary);
    padding: 10px;
    margin: 10px;

}

.container-promotion{
    margin-top: 20px;

}

.promotion-content{
    grid-column: 1 / -1;
    margin: 20px;
}


.promotion-img{
    width: 49%;
    border-radius: 0.75rem;
}

.titule-promotion{
    font-size: var(--titule-text);
    font-family: var(--font-principal);
    text-align: left;
}

.titule-content{
    margin-left: 25px;
    margin-bottom: -25px;

}

.container-card{
    margin-top: 20px;
    padding: 15px;
    background: var(--color-grid);

}

.cards-content{
    grid-column: 1 / -1;
    margin: 20px;

}

.cards-img{
    width: 24%;
    border-radius: 0.75rem;

}

.titule-content-cards{
    margin-left: -25px;
    margin-bottom: -25px;
    grid-column: 2 / 5;

}

.titule-cards{
    font-size: var(--titule-text);
    font-family: var(--font-principal);
    margin-top: 20px;
    margin-left: -75px;
    text-align: left;

}

.container-faqs{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 5px;
}

.titule-content-faqs{
   margin: 30px auto;
}

.titule-faqs{
    font-size: var(--titule-text);
    font-family: var(--font-secundary)
}

.faq-section {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.question {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    font-size: 12pt;
    font-family: var(--font-principal);
    color: #0072c2;
    font-weight: bold;
}

input[type="checkbox"] {
    display: none;
}

.answer {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 10pt;
    font-family: var(--font-secundary);
    color: #0072c2;
    font-weight: 500;
}

input:checked + label + .answer {
    display: block;
}

label {
    display: block;
    padding: 10px;
    background-color: #ffff;
    cursor: pointer;
    position: relative;
}

.material-symbols-outlined {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #e30613;
}

input:checked + label .material-symbols-outlined {
    transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
    .description-container{
        margin: 10px;

    }

    .title-description{
        font-size: 14pt;

    }
    
    .parrafo-description{
        font-size: 10pt;

    }

    .content-product {
        background: none;
        margin-top: 0;
        height: 100%;
    }

    .info-product{
        display: none;
    }

    .product-container {
        display: flex;
        overflow: hidden;
        width: 100%;
    }
    
    .product-img {
        width: 100%;
        flex-shrink: 0;
    }
    
    @keyframes slideAnimation {
        0% {
            transform: translateX(0);
        }
        33.33% {
            transform: translateX(-100%);
        }
        66.66% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    .product-container:hover .product-img {
        animation: slideAnimation 9s linear infinite;
    }

    .titule-promotion{
        font-size: 14pt;
    }

    .titule-content-cards{
        margin-left:-11px;
        grid-column: 2 / 12;
    }

    .titule-cards{
        font-size: 14pt;
    }

    .titule-faqs{
        font-size: 14pt;
    }

    label{
        font-size: 8pt;
    }

    
 
    
}