*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    max-width: 1280px;
    width: 90%;
    margin:0 auto;
}

.banner-hero-container{
    width: 100%;
    margin: 30px auto;

}

.img-banner{
    width: 100%;
    display: flex;
    justify-content: center;  
}

.banner-hero {
    width: 90%;
    border-radius: 0.75rem;
}

.description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto;
}

.title-description{
    font-size: 28pt;
    margin: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.parrafo-description{
    font-size: 16pt;
    margin: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 344px;
    height: 344px;
}

.product-img{
    width: 100%;
    margin: 5px;
    border-radius: 0.75rem;
    margin-top: 50%;
}

.info-product {
    background-color: #f5f5f5;
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto 40px;
    border-radius: 0.75rem;
}

.title-product {
    margin-bottom: 20px;
    font-size: 28pt;
}

.parrafo-product {
    margin-bottom: 15px;
    font-size: 16pt;
    text-align: center;
}

.vitrina-content{
    background-color: #f5f5f5;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 0.75rem;
}

.titule-vitrina{
    margin: 10px;
    padding: 5px;
}

.container-promotion{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.titule-content{
   margin-left: 80px;
   padding-top: 20px;
}

.titule-promotion{
    font-size: 28px;
    margin: 0;
    
}
.promotion-content{
    width: 45%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.promotion-img{
    width: 100%;
    margin: 5px;
    border-radius: 0.75rem;
}

.container-card{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.titule-content-cards{
    margin-left: 80px;
    padding-top: 20px;

}
.titule-cards{
    font-size: 28px;
    margin: 0;

}

.cards-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cards-img{
    width: 22%;
    margin: 5px;
    border-radius: 0.75rem;

}

.container-faqs{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.titule-content-faqs{
   margin: 30px auto;
}

.faq-section {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.question {
    width: calc(50% - 5px); /* 2 columnas con espacio entre ellas */
    margin-bottom: 10px;
}

input[type="checkbox"] {
    display: none;
}

.answer {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
}

input:checked + label + .answer {
    display: block;
}

label {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    position: relative;
}

.img-open {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

input:checked + label .img-open {
    transform: rotate(180deg);
}

/* Estilos específicos para tamaños de pantalla más pequeños */

@media screen and (max-width: 768px) {
    .title-description {
        font-size: 24pt;
    }

    .parrafo-description {
        font-size: 14pt;
    }

    .product-container {
        width: 100%;
        flex-wrap: wrap;
    }

    .product-img {
        width: 48%;
        margin-top: 10px;
    }

    .info-product {
        height: auto;
    }

    .title-product {
        font-size: 24pt;
        margin-bottom: 10px;
    }

    .parrafo-product {
        margin-bottom: 10px;
        font-size: 14pt;
    }

    .vitrina-content {
        height: auto;
    }

    .titule-vitrina {
        margin: 10px;
        padding: 5px;
    }

    .container-promotion {
        .promotion-content {
            flex-direction: column;
        }

        .promotion-img {
            width: 100%;
            margin: 5px;
        }
    }

    .container-card {
        .cards-content {
            flex-wrap: wrap;
        }

        .cards-img {
            width: 48%;
            margin: 5px;
        }
    }

    .container-faqs {
        .faq-section {
            .question {
                width: 100%;
            }
        }
    }
}